body {
    background-color: white;
    color: white;
    font-family: courier;
    font-size: 16px;
}
h1{
	font-size: 42px;
}
h2{
	color: black;
	font-family: monospace;
	font-weight: lighter;
}

a:hover {
	color: #0A80BF;

}

.photo {
	width: 150px;
	border-radius: 30px;
	border:1px solid black;
}

.container {
	width: 700px; 
	margin: 0 auto; 
	background-color: white;
}